/* navbar */
.navbar {
  height: 5rem;
}

.fa-house-flag {
  /* ← confirm this matches your actual icon class */
  color: red;
  font-size: 2rem;
}

.nav-link {
  color: black !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: black;
}

.f-info-links {
  width: 100%;
}

.f-info-socials {
  width: 100%;
  font-size: 1.2rem;
  margin-right: 1 rem;
}

.f-info-socials i {
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;
  background-color: #ebebeb;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
